html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* //Colors */
/* #f5f6fa */
body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  justify-content: space-evenly;
}

.app_header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.covid {
  object-fit: contain;
  height: 80px;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_header h1 {
  color: #cc1034;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app_left {
  flex: 0.9;
}

.app_right {
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__dropdown {
  background-color: #fff;
}

.app_right .app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 10px;
}

@media (max-width:990px) {
  .App {
    flex-direction: column;
  }

  .covid {
    height: 40px;
  }

  .app_header h1 {
    font-size: 1.5rem !important;
    
  }
}